@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body, html {
    background-color: darkorchid;
    height: 100vh;
    width: 100vw;
}
main {
    height: 100vh;
    width: 100vw;
    position: relative;
}
section#login {
    display: block;
    position: absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 550px; /* Mantido em 500px para o layout inicial */
    width: 450px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px black;
}
/* CORREÇÃO (Clearfix): Garante que section#login contenha seus filhos flutuados */
section#login::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: linear-gradient(to top left, #910074 0%, #333399 100%);
    }
section#login > div#img {
    display: block;
    background: url(../Login/Imagem/Retrato.jpg) no-repeat center;
    height: 225px;
    background-size: cover;
    background-position: left bottom;
    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;
}
section#login > div#form {
    padding: 10px;
}
div#form > h1 {
    text-align: center;
    margin-bottom: 10px;
    color: darkorchid;
    box-shadow: 0px 0px 5px black;
}
div#form > p {
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
} 
/* Adicionando alguns estilos básicos ao formulário para melhor apresentação */
section#login > form {
    display: block;
    padding: 10px;
}
/* CORREÇÃO: Usamos flexbox para alinhar ícone e campo, e garantimos que cada campo ocupe 100% da largura. */
.campo {
    display: flex; /* Alinha ícone/svg e input lado a lado */
    align-items: center;
    margin-bottom: 10px;
    background-color: #d1d1d1;
    border-radius: 8px;
    padding: 2px;
}
.campo span, .campo svg {
    color: darkorchid;
    background-color: white;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 8px 0 0 8px;
}
.campo input[type=text], .campo input[type=password] {
    flex-grow: 1;
    height: 40px;
    border: none;
    padding: 0 5px;
    background-color: #d1d1d1;
    outline: none;
    border-radius: 0 8px 8px 0;
}
.campo label {
    display: none; /* Esconde labels, pois os placeholders já estão no lugar */
}
input[type=submit], input[type=reset] {
    display: block;
    width: 100%;
    height: 40px; /* Aumentado de 20px para 40px */
    background-color: #910074;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    font-weight: bold;
    cursor: pointer;
}
input[type=reset] {
    background-color: #333399;
}
input[type=submit]:hover, input[type=reset]:hover {
    filter: brightness(1.2);
}